/* @charset "utf-8"; */

/* nanum-myeongjo-regular - korean */
@font-face {
    font-family: "Nanum Myeongjo";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/nanum-myeongjo-v8-korean-regular.eot"); /* IE9 Compat Modes */
    src: local("NanumMyeongjo"), url("../fonts/nanum-myeongjo-v8-korean-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/nanum-myeongjo-v8-korean-regular.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/nanum-myeongjo-v8-korean-regular.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/nanum-myeongjo-v8-korean-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/nanum-myeongjo-v8-korean-regular.svg#NanumMyeongjo") format("svg"); /* Legacy iOS */
}
/* nanum-myeongjo-700 - korean */
@font-face {
    font-family: "Nanum Myeongjo";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/nanum-myeongjo-v8-korean-700.eot"); /* IE9 Compat Modes */
    src: local("NanumMyeongjo Bold"), local("NanumMyeongjoBold"),
        url("../fonts/nanum-myeongjo-v8-korean-700.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/nanum-myeongjo-v8-korean-700.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/nanum-myeongjo-v8-korean-700.woff") format("woff"),
        /* Modern Browsers */ url("../fonts/nanum-myeongjo-v8-korean-700.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/nanum-myeongjo-v8-korean-700.svg#NanumMyeongjo") format("svg"); /* Legacy iOS */
}
