.qqq {
    width: 100%;
    height: 800px;
    border: solid 2px black;
    box-sizing: border-box;
}

/* 리셋 영역 */
body,
html,
ul,
li,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: "Nanum Myeongjo", serif;
    box-sizing: border-box;
    /* padding-top: 60px; */
}
img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

/* 헤더 영역 */
a {
    text-decoration: none;
    color: #6a6a6a;
}

a:hover {
    color: #4aaab5;
    transition: 0.4s;
}

.wrap {
    /* border: solid 1px black; */
    width: 100%;
    /* width: 100vw; */
    height: 100%;
}

.header {
    /* position: fixed; */
    /* top: 0; */
    background: url(../images/header_bg.jpg) center top;
    height: 120px;
    width: 100%;
    max-width: 100%;
    z-index: 100;
    /* border: solid 5px red; */
}

.header-wrap {
    /* border: solid 1px orange; */
    margin: 0 160px;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    /* position: absolute;
    left: 9%; */
    width: 100px;
    height: 100px;
}

.subpages-list {
    margin: 0 auto;
    position: absolute;
    left: 40%;
    /* border: solid 1px blue; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: -1%;
    display: flex;
    list-style: none;
    text-align: center;
}

.subpage {
    padding: 0 1em;
    /* color: #6a6a6a; */
    font-size: 22px;
}

.progress {
    background-color: #307676;
    width: 100%;
    height: 12px;
    position: sticky;
    top: 0;
    z-index: 100;
    transform-origin: left;
}

/* banner 배너 영역 */
.banner {
    /* border: solid 3px tan; */
}

.banner img {
    width: 100%;
    filter: grayscale(100%);
}

.category {
    height: 140px;
    margin-top: -8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-type {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;
    color: #575757;
    margin: auto 30px;
    cursor: pointer;
}

.category-type img {
    width: 60px;
    height: 60px;
}

.type-name {
    margin-top: 10px;
}

/* funding 펀딩 영역 */
.funding {
    /* border: solid 3px black; */
}

.funding-items {
    border: solid 3px blue;
    margin: 0 160px;
    /* height: 100vh; */
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 456px);
    /* justify-content: center; */
    margin-bottom: 100px;
}

.funding-item {
    /* border: solid 2px yellow; */
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 50px;
}

.funding-item img {
    width: 436px;
    /* height: 280px; */
    border-radius: 12px 12px 0 0;
}

.funding-detail {
    /* border: solid 1px black; */
    color: #595959;
    font-size: 14px;
    display: block;
}

.funding-bar {
    height: 6px;
    width: 30%;
    background-color: #12887a;
}

.funding-text {
    display: flex;
    /* border: solid 1px blue; */
}

.item-percent {
    color: #12887a;
    font-size: 1rem;
}

.item-price {
    display: flex;
    /* border: solid 1px red; */
    margin-left: 0.5rem;
}

.item-present-price {
    margin-right: 104px;
    /* border: solid 1px black; */
}

.item-text {
    /* border: solid 1px black; */
    margin-top: 8px;
    font-size: 14px;
}

.item-name {
    font-size: 1.2rem;
}
.item-user {
    margin-top: 2px;
}

/* footer 푸터 영역 */
.footer {
    /* border: solid 3px yellow; */
    background-color: #222;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box {
    /* border: solid 3px red; */
    width: 80%;
    height: fit-content;
    display: flex;
    align-items: center;
}

.footer-logo {
    /* border: solid 3px blue; */
    width: fit-content;
    height: fit-content;
}

.footer-logo img {
    width: 120px;
    height: 120px;
    filter: saturate(0%);
}

.copyright {
    /* border: solid 3px purple; */
    color: #cacacc;
    width: 66%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.copyright-header {
    /* border: solid 3px green; */
    display: flex;
}

.copyright-header p {
    /* border: solid 3px yellow; */
    margin-left: 2rem;
}

.copyright-address {
    display: flex;
    /* border: solid 3px blueviolet; */
    margin-top: 1rem;
}

.copyright-address p {
    margin-left: 2rem;
}

.copyright-reserve {
    /* border: solid 3px saddlebrown; */
    display: flex;
    color: #686c6f;
    margin-top: 1rem;
    margin-left: 2rem;
}

.footer-culture {
    /* border: solid 3px skyblue; */
    width: 14%;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    align-items: center;
}

.footer-culture img {
    /* border: solid 1px black; */
    margin-top: 8px;
    filter: saturate(0%);
    /* height: 40px; */
}

.footer-svg {
    /* border: solid 3px pink; */
    height: 120px;
    display: flex;
}

.footer-svg img {
    width: 40px;
    height: 40px;
    /* margin: 0 auto; */
    padding: 0 0.5rem;
    /* border: solid 1px greenyellow; */
}
