<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>🇰🇷 &nbsp;문화재 공유 플랫폼</title>
        <link rel="stylesheet" href="/static/css/fund.css" />
    </head>
    <body>
        <div class="wrap">
            <!-- header 헤더 영역-->
            <header class="header">
                <div class="header-wrap">
                    <a href="/"><img class="logo" src="/static/images/logo.png" alt="logo" /></a>
                    <ul class="subpages-list">
                        <li class="subpage"><a class="subpage-in" href="/fund">펀딩</a></li>
                        <li class="subpage"><a href="/search">소식</a></li>
                        <li class="subpage"><a href="/imageDetection">감별</a></li>
                        <li class="subpage"><a href="/fund">제보</a></li>
                    </ul>
                </div>
            </header>
            <div class="progress"></div>

            <!-- fund 배너 영역 -->
            <div class="banner">
                <img src="/static/images/fund-banner.jpeg" alt="fund-banner" />
            </div>

            <!-- category 카테고리 영역 -->
            <div class="category">
                <div class="category-type">
                    <img src="/static/images/all.png" alt="all" />
                    <div class="type-name">전체</div>
                </div>
                <div class="category-type">
                    <a href="/fund2"><img src="/static/images/sungnyemun.png" alt="sungnyemun" /></a>
                    <div class="type-name">국보</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/bell.png" alt="bell" />
                    <div class="type-name">보물</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/folk-heritage.png" alt="folk-heritage" />
                    <div class="type-name">국가민속유산</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/natural.png" alt="natural" />
                    <div class="type-name">천연기념물</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/buddhism.png" alt="buddhism" />
                    <div class="type-name">불교</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/books.png" alt="books" />
                    <div class="type-name">서적</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/blue-ceramic.png" alt="blue-ceramic" />
                    <div class="type-name">도자기</div>
                </div>
                <div class="category-type">
                    <img src="/static/images/etc.png" alt="etc" />
                    <div class="type-name">기타</div>
                </div>
            </div>

            <!-- funding 펀딩 영역 -->
            <section class="funding">
                <div class="funding-items">
                    <div class="funding-item">
                        <img src="/static/images/국가무형유산-갓일.jpeg" alt="갓일" />
                        <div class="funding-detail">
                            <div class="funding-bar"></div>
                            <div class="funding-text">
                                <div class="item-percent">30% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">15,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">갓일</div>
                                <div class="item-user">하리보</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/국가무형유산-나전장.jpeg" alt="나전장" />
                        <div class="funding-detail">
                            <div class="funding-bar2"></div>
                            <div class="funding-text">
                                <div class="item-percent">20% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">20,000,000원</div>
                                    <div class="item-target-price">100,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">나전장</div>
                                <div class="item-user">데리야끼</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img
                            src="/static/images/국보-금동약사여래입상.jpeg"
                            alt="금동약사여래입상"
                        />
                        <div class="funding-detail">
                            <div class="funding-bar3"></div>
                            <div class="funding-text">
                                <div class="item-percent">70% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">49,000,000원</div>
                                    <div class="item-target-price">70,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">금동약사여래입상</div>
                                <div class="item-user">개익</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/천연기념물-만장굴.jpeg" alt="만장굴" />
                        <div class="funding-detail">
                            <div class="funding-bar4"></div>
                            <div class="funding-text">
                                <div class="item-percent">80% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">16,000,000원</div>
                                    <div class="item-target-price">20,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">만장굴</div>
                                <div class="item-user">하리보</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/국보-삼층석탑.jpeg" alt="삼층석탑" />
                        <div class="funding-detail">
                            <div class="funding-bar5"></div>
                            <div class="funding-text">
                                <div class="item-percent">50% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">25,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">삼층석탑</div>
                                <div class="item-user">계륵</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/보물-보문사지석조.jpeg" alt="보문사지석조" />
                        <div class="funding-detail">
                            <div class="funding-bar"></div>
                            <div class="funding-text">
                                <div class="item-percent">30% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">15,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">보문사지석조</div>
                                <div class="item-user">독일</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/국보-첨성대.jpeg" alt="첨성대" />
                        <div class="funding-detail">
                            <div class="funding-bar"></div>
                            <div class="funding-text">
                                <div class="item-percent">30% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">15,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">첨성대</div>
                                <div class="item-user">김치</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img src="/static/images/민속문화-광대.jpeg" alt="남이흥장군일가유품" />
                        <div class="funding-detail">
                            <div class="funding-bar"></div>
                            <div class="funding-text">
                                <div class="item-percent">30% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">15,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">남이흥장군 일가 유품(광대)</div>
                                <div class="item-user">한국</div>
                            </div>
                        </div>
                    </div>
                    <div class="funding-item">
                        <img
                            src="/static/images/국보-태종무열왕릉비.jpeg"
                            alt="태종무열왕릉비"
                        />
                        <div class="funding-detail">
                            <div class="funding-bar"></div>
                            <div class="funding-text">
                                <div class="item-percent">30% 달성</div>
                                <div class="item-price">
                                    <div class="item-present-price">15,000,000원</div>
                                    <div class="item-target-price">50,000,000원</div>
                                </div>
                            </div>
                            <div class="item-text">
                                <div class="item-name">태종무열왕릉비</div>
                                <div class="item-user">하리보</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer 푸터 영역 -->
            <section class="footer">
                <div class="footer-box">
                    <div class="footer-logo">
                        <img src="/static/images/logo.png" alt="logo" />
                    </div>
                    <div class="copyright">
                        <div class="copyright-header">
                            <p>개인정보처리방침</p>
                            <p>이용약관</p>
                            <p>정보공개방</p>
                        </div>
                        <div class="copyright-address">
                            <p>(47011) 부산광역시 사상구 주례로 47</p>
                            <p>TEL : 051-320-1740</p>
                            <p>FAX : 051-320-1740</p>
                        </div>
                        <div class="copyright-reserve">
                            <p>Copyrightⓒ 2024 동서대학교 소프트웨어학과 박진우.&nbsp;</p>
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                    <div class="footer-culture">
                        <img src="/static/images/footer-culture.png" alt="foreign-culture" />
                        <img src="/static/images/culture-admin.png" alt="culture-admin" />
                    </div>
                    <div class="footer-svg">
                        <img src="/static/images/facebook.svg" alt="facebook" />
                        <img src="/static/images/instagram.svg" alt="instagram" />
                        <img src="/static/images/twitter.svg" alt="twitter" />
                    </div>
                </div>
            </section>
        </div>

        <script type="module" src="/static/js/main.js"></script>
        <script src="/static/js/fund.js"></script>
    </body>
</html>
