<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/css/fund.css" />
    </head>
    <body>
        <div class="wrap">
            <!-- header 헤더 영역-->
            <header class="header">
                <div class="header-wrap">
                    <a href="/"><img class="logo" src="/static/images/logo.png" alt="logo" /></a>
                    <ul class="subpages-list">
                        <li class="subpage"><a href="/fund">펀딩</a></li>
                        <li class="subpage"><a href="/search">검색</a></li>
                        <li class="subpage"><a href="/imageDetection">감정</a></li>
                        <li class="subpage"><a href="/">신고</a></li>
                        <li class="subpage"><a href="/">기부</a></li>
                    </ul>
                </div>
            </header>
            <div class="progress"></div>
            <p>fund 페이지</p>
            <div class="qqq">qqq</div>
            <div class="qqq">qqq</div>
            <div class="qqq">qqq</div>
        </div>

        <script type="module" src="/static/js/main.js"></script>
    </body>
</html>
