<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vision AI Demo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/imageDetection.css')}}" />
    </head>
    <body>
        <div class="wrap">
            <!-- header 헤더 영역-->
            <header class="header">
                <div class="header-wrap">
                    <a href="/"><img class="logo" src="/static/images/logo.png" alt="logo" /></a>
                    <ul class="subpages-list">
                        <li class="subpage"><a href="/fund">펀딩</a></li>
                        <li class="subpage"><a href="/search">소식</a></li>
                        <li class="subpage"><a class="subpage-in" href="/imageDetection">감별</a></li>
                        <li class="subpage"><a href="/imageDetection">제보</a></li>
                    </ul>
                </div>
            </header>

            <!-- 감정 영역 -->
            <section class="detection">
                <div class="center-container">
                    <div class="upload">
                        <form id="upload-form" enctype="multipart/form-data">
                            <label class="input-file-button" for="image-input"> 사진 선택 </label>
                            <input
                                type="file"
                                name="image"
                                id="image-input"
                                accept="image/*"
                                required
                                style="display: none"
                            />
                        </form>
                        <button class="upload-button" type="button" onclick="uploadImage()">감 별</button>
                    </div>
                    <div class="detection-box">
                        <div class="detection-upload">
                            <div class="upload-content"></div>
                            <div id="image-container">
                                <div id="image-placeholder" class="placeholder1">사진 넣는 곳</div>
                                <img id="uploaded-image" src="" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="result-box">
                        <div class="result-content">
                            <div id="result-placeholder" class="placeholder2">감별 결과</div>
                            <div id="result-container"></div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- footer 푸터 영역 -->
            <section class="footer">
                <div class="footer-box">
                    <div class="footer-logo">
                        <img src="/static/images/logo.png" alt="logo" />
                    </div>
                    <div class="copyright">
                        <div class="copyright-header">
                            <p>개인정보처리방침</p>
                            <p>이용약관</p>
                            <p>정보공개방</p>
                        </div>
                        <div class="copyright-address">
                            <p>(47011) 부산광역시 사상구 주례로 47</p>
                            <p>TEL : 051-320-1740</p>
                            <p>FAX : 051-320-1740</p>
                        </div>
                        <div class="copyright-reserve">
                            <p>Copyrightⓒ 2024 동서대학교 소프트웨어학과 박진우.&nbsp;</p>
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                    <div class="footer-culture">
                        <img src="/static/images/footer-culture.png" alt="foreign-culture" />
                        <img src="/static/images/culture-admin.png" alt="culture-admin" />
                    </div>
                    <div class="footer-svg">
                        <img src="/static/images/facebook.svg" alt="facebook" />
                        <img src="/static/images/instagram.svg" alt="instagram" />
                        <img src="/static/images/twitter.svg" alt="twitter" />
                    </div>
                </div>
            </section>
        </div>
        <!-- 로딩 스피너 -->
        <div class="loader" id="loader"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- <script src="../static/js/script.js"></script> -->
        <script src="{{ url_for('static', filename='js/imageDetection.js') }}"></script>
        <!-- <script src="../static/js/imageDetection.js"></script> -->
    </body>
</html>
