<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🇰🇷문화재 공유 플랫폼</title>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="wrap">

        <!-- header 헤더 영역-->
        <header class="header">
            <div class="header-wrap">
                <a href="/"><img class="logo" src="/static/images/logo.png" alt="logo"></a>
                <ul class="subpages-list">
                    <li class="subpage"><a href="/fund">펀딩</a></li>
                    <li class="subpage"><a href="/search">검색</a></li>
                    <li class="subpage"><a href="/imageDetection">감정</a></li>
                    <li class="subpage"><a href="/">신고</a></li>
                    <li class="subpage"><a href="/">기부</a></li>
                </ul>
            </div>
        </header>
        <div class="status-bar"></div>
        
        <!-- main 메인 영역 -->
        <section class="main">
            <section class="main-banner">
                <div class="title">
                    <h2 class="title-header">우리 모두가</h2>
                    <h2 class="title-header">
                        <div class="title-header-box">
                            우리의 역사를 기억하는 공간
                        </div>
                        <span class="title-header-outside">이 되도록</span>
                    </h2>
                    <div class="title-content">
                        문화재 공유 플랫폼이 지켜내보겠습니다.
                    </div>
                </div>
            </section>
            
            <section class="main-banner">
            </section>
        </section>
    </div>
    <p>main 페이지</p>

    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>


