<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <title>문화재청</title>
        <meta name="description" content="문화재청은 문화재에 관한 사무를 관장하는 대한민국의 중앙행정기관입니다." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="문화재청" />
        <meta name="apple-mobile-web-app-title" content="문화재청" />
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/static/css/style_v180910.css" />
        <link rel="stylesheet" href="/static/css/search.css" />
        <!-- JavaScript & jQuery -->
        <script src="/static/js/jquery-3.3.1.min.js"></script>
        <script src="/static/js/front_v180910.js"></script>
    </head>
    <body class="main">
        <div id="wrap">
            <!-- 헤더 영역 -->
            <header class="header">
                <div class="header-wrap">
                    <a href="/"><img class="logo" src="/static/images/logo.png" alt="logo" /></a>
                    <ul class="subpages-list">
                        <li class="subpage"><a href="/fund">펀딩</a></li>
                        <li class="subpage"><a class="subpage-in" href="/search">소식</a></li>
                        <li class="subpage"><a href="/imageDetection">감별</a></li>
                        <li class="subpage"><a href="/search">제보</a></li>
                    </ul>
                </div>
            </header>
            <div class="progress"></div>

            <!-- 메인 비쥬얼 롤링 배너 -->
            <section id="visual">
                <div class="box">
                    <ul class="slide">
                        <li>
                            <div class="copy_wrap">
                                <div class="copy">
                                    <h3 class="copy">중요 무형문화재 제 13호</h3>
                                    <h2 class="copy">강릉 단오제</h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="copy_wrap">
                                <div class="copy">
                                    <h3 class="copy">중요 무형문화재 제 76호</h3>
                                    <h2 class="copy">택견</h2>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="copy_wrap">
                                <div class="copy">
                                    <h3 class="copy">중요 무형문화재 제 69호</h3>
                                    <h2 class="copy">하회별신굿탈놀이</h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="indicator"></ul>
                </div>
            </section>

            <!-- 메인 컨텐츠 영역 -->
            <main id="container">
                <!-- 문화유산 정보 -->
                <section id="info" class="wrapper">
                    <h2 class="tit">문화유산 정보</h2>
                    <p class="desc">우리 조상들의 자취가 풍부하게 담겨있는 문화유산 정보를 열람하여 보세요.</p>
                    <div class="info-list">
                        <div class="box">
                            <ul class="banner">
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info01.jpg" alt="info01" />
                                        <strong class="name">국가기록유산</strong>
                                        <span class="txt"
                                            >우리 선조들의 문학적, 사상적, 예술적 자취가 풍부하게 담겨있는 옛 문헌 등의
                                            문서로 남아있는 문화 유산입니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info02.jpg" alt="info02" />
                                        <strong class="name">유네스코등재유산</strong>
                                        <span class="txt"
                                            >문화적 다양성과 창의성이 유지될 수 있도록 유네스코 세계 문화 및 자연유산의
                                            보호에 관한 협약에 의거하여 세계유산목록에 등재된 유산입니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info03.jpg" alt="info03" />
                                        <strong class="name">조선고궁포털</strong>
                                        <span class="txt"
                                            >아름다운 문화유산! 경복궁, 창덕궁, 창경궁, 덕수궁 그리고 종묘를
                                            소개합니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info04.jpg" alt="info04" />
                                        <strong class="name">조선왕릉전시관</strong>
                                        <span class="txt"
                                            >1대부터 27대까지 500년 넘게 조성한 조선왕릉을 한눈에 보여주며, 조선왕릉
                                            내부와 외부에 담긴 사상과 문화, 역사 내용이 전시되어 있습니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info05.jpg" alt="info05" />
                                        <strong class="name">문화재공간정보(GIS)</strong>
                                        <span class="txt"
                                            >문화재의 사진 및 도면, 영상, 설명 등의 속성정보와 위성기반의 위치정보와
                                            함께 결합돤 공간정보 활용체게 서비스입니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info06.jpg" alt="info06" />
                                        <strong class="name">국가문화유산포털</strong>
                                        <span class="txt"
                                            >배우고, 보고, 느끼는 3가지 테마를 주제로, 각기 다른 사이트에 흩어져 있던
                                            콘텐츠를 한 사이트로 모아 정보를 제공하는 문화유산 대표
                                            포털사이트입니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info07.jpg" alt="info07" />
                                        <strong class="name">문화유산채널</strong>
                                        <span class="txt"
                                            >문화유산 전승 활용과 문화 향유권 확대를 위해 TV, 인터넷, 이동방송,
                                            공공장소에 문화유산채널에서 제작 및 제공되는 다양한 콘텐츠를
                                            제공합니다.</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="/static/images/info08.jpg" alt="info08" />
                                        <strong class="name">사이버문화재탐방</strong>
                                        <span class="txt"
                                            >모바일로도 한민족의 문화형성에 영향을 끼쳐온 한국의 여러 문화유산 탐방이
                                            가능합니다.</span
                                        >
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="control">
                            <a href="#" class="prev" title="이전 배너"
                                ><img src="/static/images/info_prev.png" alt="이전 배너"
                            /></a>
                            <a href="#" class="next" title="다음 배너"
                                ><img src="/static/images/info_next.png" alt="다음 배너"
                            /></a>
                        </p>
                    </div>
                </section>

                <!-- 문화재소식 -->
                <section id="notice">
                    <div class="wrapper">
                        <h2 class="tit">문화재 소식</h2>
                        <p class="desc">소중한 문화유산 소식을 전합니다.</p>
                        <ul class="ntc-tit clearfix">
                            <li>
                                <h3 class="title"><a href="#">전체보기</a><span></span></h3>
                                <ul class="ntc-con">
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">29</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                국립문화재연구소 전문임기제공무원(다급) 경력경쟁채용시험 최종 합격자
                                                공고
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">28</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">문화재지정예고</h4>
                                            <p class="txt">사적 제320호 울산 경상좌도병영성 보호구역 추가지정</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">27</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">공지사항</h4>
                                            <p class="txt">2016 문화재 안전 애호의식 UCC 공모전 심사 결과 알림</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">26</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                미술문화재연구실 기간제 근로자 채용 서류전형 합격자 및 면접심사 공고
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="title"><a href="#">공지사항</a><span></span></h3>
                                <ul class="ntc-con">
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">28</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">공지사항</h4>
                                            <p class="txt">2016 문화재 안전 애호의식 UCC 공모전 심사 결과 알림</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">27</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">공지사항</h4>
                                            <p class="txt">
                                                무형문화재 전승자 주관 기획행사 전문역량 강화 과정Ⅰ 교육안내
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">26</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">공지사항</h4>
                                            <p class="txt">2016년도 문화유산교육 시행단체 선정결과 공고</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">25</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">공지사항</h4>
                                            <p class="txt">2016년 중요무형문화재 지정(인정) 조사 계획 알림</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="title"><a href="#">입찰정보</a><span></span></h3>
                                <ul class="ntc-con">
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">24</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">입찰정보</h4>
                                            <p class="txt">근·현대문화유산 교육분야 목록화 조사 연구</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">23</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">입찰정보</h4>
                                            <p class="txt">2016년 4대궁·종묘 안내해설사 모니터링 용역</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">22</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">입찰정보</h4>
                                            <p class="txt">2016년 향교․서원 문화재 활용 사업 홍보물 제작</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">21</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">입찰정보</h4>
                                            <p class="txt">태평양전쟁유적 일제조사 종합분석 연구용역</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="title"><a href="#">시험채용</a><span></span></h3>
                                <ul class="ntc-con">
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">29</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                국립문화재연구소 전문임기제공무원(다급) 경력경쟁채용시험 최종 합격자
                                                공고
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">09</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                미술문화재연구실 기간제 근로자 채용 서류전형 합격자 및 면접심사 공고
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">09</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                미술문화재연구실 기간제 근로자(연구원, 국제) 서류전형 합격자 발표 및
                                                면접시험 공고
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">02</em>
                                                <span class="yyyymm">2017.12</span>
                                            </p>
                                            <h4 class="tit">시험채용</h4>
                                            <p class="txt">
                                                2016년도 건축문화재연구실 기간제 근로자(연구원) 서류전형 합격자 발표 및
                                                면접시험 공고
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3 class="title"><a href="#">문화재지정예고</a><span></span></h3>
                                <ul class="ntc-con">
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">29</em>
                                                <span class="yyyymm">2017.11</span>
                                            </p>
                                            <h4 class="tit">문화재지정예고</h4>
                                            <p class="txt">사적 제320호 울산 경상좌도병영성 보호구역 추가지정</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">10</em>
                                                <span class="yyyymm">2017.11</span>
                                            </p>
                                            <h4 class="tit">문화재지정예고</h4>
                                            <p class="txt">
                                                파주 칠중성(서족 제437호)문화재 구역 추가지정 및 조정 예고
                                            </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">10</em>
                                                <span class="yyyymm">2017.11</span>
                                            </p>
                                            <h4 class="tit">문화재지정예고</h4>
                                            <p class="txt">파주 혜음원지(사적 제464호) 현상변경 허용기준 변경 예고</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <p class="date">
                                                <em class="dd">29</em>
                                                <span class="yyyymm">2017.11</span>
                                            </p>
                                            <h4 class="tit">문화재지정예고</h4>
                                            <p class="txt">'환구단'(사적 제157호) 보호구역 지정 예고</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </main>

            <!-- 탑 버튼 -->

            <!-- 푸터 영역 -->
            <section class="footer">
                <div class="footer-box">
                    <div class="footer-logo">
                        <img src="/static/images/logo.png" alt="logo" />
                    </div>
                    <div class="copyright">
                        <div class="copyright-header">
                            <p>개인정보처리방침</p>
                            <p>이용약관</p>
                            <p>정보공개방</p>
                        </div>
                        <div class="copyright-address">
                            <p>(47011) 부산광역시 사상구 주례로 47</p>
                            <p>TEL : 051-320-1740</p>
                            <p>FAX : 051-320-1740</p>
                        </div>
                        <div class="copyright-reserve">
                            <p>Copyrightⓒ 2024 동서대학교 소프트웨어학과 박진우.&nbsp;</p>
                            <p>All rights reserved.</p>
                        </div>
                    </div>
                    <div class="footer-culture">
                        <img src="/static/images/footer-culture.png" alt="foreign-culture" />
                        <img src="/static/images/culture-admin.png" alt="culture-admin" />
                    </div>
                    <div class="footer-svg">
                        <img src="/static/images/facebook.svg" alt="facebook" />
                        <img src="/static/images/instagram.svg" alt="instagram" />
                        <img src="/static/images/twitter.svg" alt="twitter" />
                    </div>
                </div>
            </section>
        </div>
        <!-- Script -->
        <script type="module" src="/static/js/main.js"></script>
        <script>
            "use strict";

            // 메인 비주얼 슬라이드
            $("#visual").setImageSlide({
                timerSpeed: 5000,
                fadeSpeed: 1000,
                transitionType: "animation",
            });

            // 문화유산정보
            $(".info-list").setSlideBanner({
                widthMoveUnit: 1,
            });

            mainNtc();
            mainVid();
        </script>
    </body>
</html>
